@import '../variables';
@import '../mixins/whitePanel';

.SearchPanel {
  @include whitePanel;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  padding: 18px;
  width: 360px;
}

.SearchPanel-body {
  color: $color-text;
  font-size: 14px;
  margin-top: 8px;
}

.SearchPanel-header {
  color: $color-text;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 900;
}

.SearchPanel-key {
  border: 1px solid $color-keyBorder;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #d4d4d4;
  display: inline-block;
  line-height: 13px;
  padding: 0 2px;
}

.SearchPanel-modifier {
  background-image: linear-gradient(#e9f6f1, #ccecdf);
  border: 1px solid $color-modifierBorder;
  border-radius: 3px;
  display: inline-block;
  padding: 0 2px;
}
