@import '../variables';
@import '../mixins/unstyledButton';
@import '../mixins/unstyledInput';

:local(.channelAction) {
  @include unstyledButton;
  cursor: pointer;
  flex-shrink: 0;
  padding: 6px 0;
  width: 30px;

  &:hover {
    :local(.channelActionIcon) {
      color: $color-blue;
    }
  }

  &:local(.channelAction--active) {
    :local(.channelActionIcon) {
      color: $color-blue;
    }
  }

  &:not(:first-child) {
    margin-left: 4px;
  }
}

:local(.channelActionDivider) {
  border-left: 1px solid $color-border;
  margin-left: 9px;
  margin-right: 15px;
}

:local(.channelActionIcon) {
  color: $color-primary;
  font-size: 18px;
  transition: color 0.1s ease-in-out;

  &:local(.channelActionIcon--secondary) {
    color: $color-grayText;
  }
}

:local(.channelActions) {
  display: flex;
  flex-shrink: 0;
}

:local(.channelInfo) {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

:local(.channelMembers) {
  color: $color-grayText;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  margin-top: 3px;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $color-blue;
  }
}

:local(.channelName) {
  color: #2c2d30;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 900;
}

:local(.channels) {
  background-color: $color-channels;
  flex-shrink: 0;
  width: 220px;
}

:local(.dropdownPanel) {
  width: 265px;
}

:local(.messages) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

:local(.messagesHeader) {
  align-items: center;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-shrink: 0;
  height: 61px;
  justify-content: space-between;
  padding: 0 20px;
}

:local(.moreIcon) {
  display: inline-block;
  font-size: 16px;
  width: 24px;

  &:local(.moreIcon--allFiles) {
    color: $color-green;
  }

  &:local(.moreIcon--help) {
    color: $color-red;
  }

  &:local(.moreIcon--teamDirectory) {
    color: $color-red;
  }

  &:local(.moreIcon--whatsNew) {
    color: $color-yellow;
  }

  &:local(.moreIcon--yourFiles) {
    color: $color-blue;
  }
}

:local(.morePanel) {
  width: 220px;
}

:local(.notificationButton) {
  @include unstyledButton;
  align-self: center;
  cursor: pointer;
  flex-shrink: 0;
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 1;

    :local(.notificationIcon) {
      color: white;
    }
  }
}

:local(.notificationIcon) {
  color: $color-channelIcon;
  font-size: 16px;
  transition: color 0.1s ease-in-out;
}

:local(.search) {
  display: flex;
}

:local(.searchIcon) {
  color: $color-text;
  font-size: 16px;
  left: 8px;
  position: absolute;
  top: 9px;
}

:local(.searchInput) {
  @include unstyledInput;
  bottom: 0;
  color: $color-primary;
  font-size: 15px;
  left: 30px;
  position: absolute;
  right: 0;
  top: 0;

  &::placeholder {
    color: #9e9ea6;
  }
}

:local(.searchInputContainer) {
  border: 1px solid $color-border;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(black, 0.075);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 34px;
  width: 275px;

  &:hover {
    border-color: $color-blue;
  }

  &:local(.searchInputContainer--active) {
    border-color: $color-blue;
  }
}

:local(.slack) {
  bottom: 0;
  left: 0;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}

:local(.teamMenu) {
  background-color: $color-channels;
  cursor: pointer;
  display: flex;
  height: 61px;
  justify-content: space-between;
  padding: 0 16px;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $color-channelsActive;

    :local(.teamMenuIcon) {
      color: white;
    }
  }

  &:local(.teamMenu--active) {
    background-color: $color-channelsActive;

    :local(.teamMenuIcon) {
      color: white;
    }
  }
}

:local(.teamMenuIcon) {
  color: $color-channelIcon;
  font-size: 8px;
  margin-left: 5px;
  transition: color 0.1s ease-in-out;
}

:local(.teamName) {
  align-items: center;
  color: white;
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: bold;
}
