@import '../variables';

.Slack {
  bottom: 0;
  left: 0;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}

.Slack-channels {
  flex-shrink: 0;
}

.Slack-messages {
  flex-grow: 1;
  min-width: 1px;
}
