@import '../variables';

.DropdownTrigger-dropdownTransitionGroup-enter {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  &.DropdownTrigger-dropdownTransitionGroup-enter-active {
    opacity: 1;
  }
}

.DropdownTrigger-dropdownTransitionGroup-leave {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;

  &.DropdownTrigger-dropdownTransitionGroup-leave-active {
    opacity: 0;
  }
}
